*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Segoe UI' , Arial;
}
:root {

    --primary-color: rgb(255, 166, 0);
    --background-color: rgb(24,20,36);
    --secondary-color: rgb(255, 255, 255);
    
  }

body{
    background-color: var(--background-color);
  
    
}

.sticky-nav{
    z-index: 1;
    position: sticky;
    top: 0px;
    left: 0px;
    margin-bottom: 2vh;
    background-color: var(--background-color);
}

.navbar{

   
   
    
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 2vw;
    

}

.navbar .logo{
    z-index: 1;
    color: var(--primary-color);
    font-size: clamp(2.5rem,8vw,4rem);
}

.navbar .btn-drop-menu{

    
    z-index: 1;
    background-color: transparent;
    border: none;
    font-size: clamp(3rem,8vw,4rem);
    color: var(--secondary-color);
    cursor: pointer;

}

.navbar .btn-drop-menu:active{

    
    color: var(--primary-color);
    

}


.drop-menu{
    position: absolute;
    animation: enter 0.5s ease-in-out;
    background-color: rgb(48,44,68);
    padding: 2vw;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vw;
    font-size: clamp(1.2rem,5vw,7rem);
    width: 100%;
}

.hide{
    display: none;
}

.drop-menu li:active{
    color: var(--primary-color);
}

@keyframes enter {
    
    from{
        transform: translateY(-100px);
    }
}

.intro-container{

    display: flex;
    flex-direction: column;
    align-items: center;
   row-gap: 3vh;
    

}


.intro{

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    
}

.intro .intro-title{
    color: var(--secondary-color);
    font-size: clamp(1rem,8vw,3rem);
    text-align: center;
}

.intro .btn-show{
    
    font-size: clamp(1rem,4vw,2rem);
    padding: 2vw 4vw;
    border-radius: clamp(5px,2vw,20px);
    background-color: rgba(255, 166, 0, 0.699);
    color: var(--secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.103);
    cursor: pointer;

}

.intro-container img{

    width: 85%;
}


@media screen and (min-width:769px) {
    
    .intro-container{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 5vw;
        
        
    }

    .intro-container .intro{
  
        align-items: start;
    }

    .intro .intro-title{
        color: var(--secondary-color);
        font-size: clamp(1rem,4vw,6rem);
        text-align: left;
    }


.intro .btn-show{
    
    font-size: clamp(1rem,1.5vw,4rem);
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    

}
    

    .intro-container img{

        width: 35%;
    }
}